<div class="container index">
<h1>Lists</h1>

<div class="lists-container">
<% @lists.each do |list| %>
  <li><%= link_to list.name, list_path(list), class: "list retro" %></li>
<% end %>
</div>
<%= link_to "Create a new list", new_list_path, class: "retro button"%>
</div>
