a, li{
  text-decoration: none;
  list-style-type: none;
  color: white;
}

.retro {
	border-bottom: 6px inset rgba(0,0,0,.5);
	border-left: 6px inset rgba(0,0,0,.5);
	border-right: 6px inset rgba(255,255,255,.5);
	border-top: 6px inset rgba(255,255,255,.5);
	box-sizing: border-box;
	color: white;
	cursor: pointer;
	display: inline-block;
	text-transform: uppercase;

  &.button{
    background: #005800;
    font-size: 18px;
    width: auto;
    height: 40px;
    padding: 0px 5px;
    &:focus,
    &:hover {
      background: #006800;
    }
  }

  &.list{
    color: white;
    line-height: 40px;
    width: 250px;
    background: #0000BC;
    &:focus,
    &:hover {
      background: #0000FC;
    }
  }
  &.delete{
    color: white;
    line-height: 20px;
    width: 60px;
    background: #881400;
    border-bottom: 3px inset rgba(0,0,0,.5);
    border-left: 3px inset rgba(0,0,0,.5);
    border-right: 3px inset rgba(255,255,255,.5);
    border-top: 3px inset rgba(255,255,255,.5);
    &:focus,
    &:hover {
      background: #A81000;
    }
  }
}
