.grid-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.grid-item{
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}


.card{
  height:auto ;
  width:250px ;
  display: flex;
  flex-direction:row;
  padding: 10px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 0px;
}

.movie-image{
  img{
    width:80px;
  }
}

.movie-info{
  color: white;
  p{
    margin: 0;
  }
}
